// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import "parts/header/header";
@import "parts/footer/footer";
@import "pages-parts/home-page/stock/stock";
@import "pages-parts/home-page/advantage/advantage";
@import "pages-parts/home-page/reviews/reviews";
@import "pages-parts/home-page/mobile-hands/mobile-hands";
@import "pages-parts/user-page/user-panel";
@import "pages-parts/user-page/panels/mentor/mentor";

@import "modals/login/login-modal";

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.btn {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.btn-outline-info {
    border-color: $nsBlue;
    color: $nsBlue;

    &:hover, &.active, &:active, &:focus {
        background-color: $nsBlue;
        color: white;
    }
}

.btn-outline-info:not(:disabled):not(.disabled).active {
    background-color: $nsBlue;
    border-color: $nsBlue;
}


.btn-info {
    border-color: $nsBlue;
    background-color: $nsBlue;
    color: white;
}

.btn-secondary {
    background-color: #60829F;
}

.form-group-blue {
    label {
        color: $nsBlue;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }

    .form-control {
        background-color: #fff;
        border-color: $nsBlue;
    }
}

.invalid-feedback {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.user-sidebar {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 8px;

        a {
            text-decoration: none;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: $textSubColor;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;

            &:hover, &.active {
                color: $textMainColor;
            }
        }
    }
}

.news-card {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 25px;
    padding: 24px;
    @media screen and (max-width: 768px){
        flex-wrap: wrap;
    }

    .img-preview {
        width: 100%;
        max-width: 185px;
        height: auto;

    }

    .news-content {
        width: 100%;
        max-width: 600px;

        p{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 23px;

        .btn-outline-info {
            color: $nsBlue;
            width: 100%;
            max-width: 185px;

            &:hover, &.active, &:active, &:focus {
                background-color: $nsBlue;
                color: white;
            }
        }
    }
}

.data-card {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 24px;

}

.form-group-data {
    label {
        color: $textMainColor;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }

    .form-control {
        background-color: #fff;
        border-color: $nsBlue;
    }
}

.form-date{
    max-width: 125px;
    text-align: center;
}

.img-preview-doc{
    height: 80px;
    width: auto;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}
