@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../assets/fonts/proxima/ProximaNova-Regular.eot");
  src: url("../assets/fonts/proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proxima/ProximaNova-Regular.woff") format("woff"), url("../assets/fonts/proxima/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arial Regular';
  src: url("../assets/fonts/arial/ArialMT.eot");
  src: url("../assets/fonts/arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/arial/ArialMT.woff") format("woff"), url("../assets/fonts/arial/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: "Proxima Nova Regular", sans-serif; }

body {
  background-color: #e5e5e5; }

h1 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #C4C4C4; }

h2 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 40px;
  line-height: 47px;
  color: #C4C4C4; }

h3 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #C4C4C4; }

footer h3 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  color: #C4C4C4; }

.textMain {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #C4C4C4; }

.textMainBold {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #C4C4C4; }

.signCompany {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #C4C4C4; }

.personalCabinet .placeholderText {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }
.personalCabinet .inputText {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000; }
.personalCabinet .headerText {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.popupText {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000; }

.popupPlaceholderText {
  font-family: "Proxima Nova Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.home-reviews-section {
  background: url("../../../../assets/img/reviews-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover; }
  .home-reviews-section h1 {
    padding-top: 65px;
    padding-bottom: 29px;
    text-align: center;
    color: #333333; }

/*# sourceMappingURL=reviews.css.map */
